@model IEnumerable<NimapMachineTask.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<table class="table">
    <a asp-action="Create" class="btn btn-success">Add New Category</a>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


